n8n-workflows/gmail-work-task-extractor.json
{
  "name": "Gmail Work Task Extractor",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "cronExpression",
              "cronExpression": "*/10 8-18 * * 1-5"
            }
          ]
        }
      },
      "id": "gmail-work-trigger",
      "name": "Gmail Work Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "credentials": {
        "gmailOAuth2Api": {
          "id": "work-gmail",
          "name": "Gmail OAuth2 API - Work"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "get",
        "messageId": "={{$json[\"id\"]}}",
        "options": {
          "format": "full"
        }
      },
      "id": "get-work-email-details",
      "name": "Get Work Email Details",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "gmailOAuth2Api": {
          "id": "work-gmail",
          "name": "Gmail OAuth2 API - Work"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "message",
        "modelId": "gpt-4",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You extract work-related tasks from professional emails. Focus on:\n- Project deadlines and deliverables\n- Meeting preparation tasks\n- Client commitments and follow-ups\n- Team action items\n- Professional development tasks\n- Business travel preparations\n\nDefault context should be \"Work\" unless explicitly personal.\nPriority should be higher (4-5) for client-facing or deadline-driven tasks.\nReturn ONLY a JSON array of tasks."
            },
            {
              "role": "user", 
              "content": "Extract tasks from this WORK email:\\n\\nFrom: {{$json[\"payload\"][\"headers\"].find(h => h.name === 'From').value}}\\nTo: {{$json[\"payload\"][\"headers\"].find(h => h.name === 'To').value}}\\nSubject: {{$json[\"payload\"][\"headers\"].find(h => h.name === 'Subject').value}}\\nBody: {{$json[\"snippet\"]}}\\n\\nFor each task return:\\n{\\n  \"title\": \"Clear, actionable task description\",\\n  \"description\": \"Additional context and details\",\\n  \"priority\": 1-5 (5=urgent client/deadline, 4=important, 3=normal, 2=low, 1=someday),\\n  \"dueDate\": \"YYYY-MM-DD or null\",\\n  \"context\": \"Work\" (default) or \"Learning\" for professional development\\n}\\n\\nReturn empty array [] if no tasks found."
            }
          ]
        },
        "options": {
          "temperature": 0.1
        }
      },
      "id": "extract-work-tasks",
      "name": "Extract Work Tasks with OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-api",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const tasksJson = $input.first().json.message.content;\nlet tasks = [];\n\ntry {\n  tasks = JSON.parse(tasksJson);\n} catch (e) {\n  // Try to extract JSON from response\n  const match = tasksJson.match(/\\[.*\\]/s);\n  if (match) {\n    tasks = JSON.parse(match[0]);\n  }\n}\n\n// Add email and account metadata to each task\nconst emailData = $input.all()[0].json;\nconst emailId = emailData.id;\nconst subject = emailData.payload.headers.find(h => h.name === 'Subject')?.value || '';\nconst from = emailData.payload.headers.find(h => h.name === 'From')?.value || '';\n\n// Extract work email address from credentials\nconst workEmail = 'scott.kaufman@stacksdata.com'; // Update with actual work email\n\nreturn tasks.map(task => ({\n  json: {\n    ...task,\n    source: 'email',\n    accountType: 'work',\n    accountEmail: workEmail,\n    emailId: emailId,\n    emailSubject: subject,\n    emailFrom: from,\n    extractedAt: new Date().toISOString()\n  }\n}));"
      },
      "id": "process-work-tasks",
      "name": "Process Work Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env[\"WEBHOOK_URL\"]}}/api/n8n/gmail-tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Account-Type",
              "value": "work"
            },
            {
              "name": "X-Account-Email",
              "value": "scott.kaufman@stacksdata.com"
            },
            {
              "name": "X-Webhook-Secret",
              "value": "={{$env[\"WEBHOOK_SECRET\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-to-app",
      "name": "Send to Life Coach AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Gmail Work Trigger": {
      "main": [
        [
          {
            "node": "Get Work Email Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Work Email Details": {
      "main": [
        [
          {
            "node": "Extract Work Tasks with OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Work Tasks with OpenAI": {
      "main": [
        [
          {
            "node": "Process Work Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Work Tasks": {
      "main": [
        [
          {
            "node": "Send to Life Coach AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "work-v1"
}